.button {
    padding: 0 11px;
    border: none;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    color: white;
    text-shadow: -1px -1px 0 #666;
    background: #20ade4; /* Old browsers */
    background: -moz-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20ade4), color-stop(50%, #1392cb), color-stop(100%, #0678b2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* IE10+ */
    background: linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20ade4', endColorstr='#0678b2', GradientType=0); /* IE6-9 */

}

.button:hover {
    background: #71cff4; /* Old browsers */
    background: -moz-linear-gradient(top, #71cff4 0%, #46addd 50%, #1b8cc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71cff4), color-stop(50%, #46addd), color-stop(100%, #1b8cc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #71cff4 0%, #46addd 50%, #1b8cc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #71cff4 0%, #46addd 50%, #1b8cc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #71cff4 0%, #46addd 50%, #1b8cc6 100%); /* IE10+ */
    background: linear-gradient(top, #71cff4 0%, #46addd 50%, #1b8cc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71cff4', endColorstr='#1b8cc6', GradientType=0); /* IE6-9 */

}

.disabled {
    -moz-box-shadow: inset 4px 4px 5px #0678b2;
    -webkit-box-shadow: inset 4px 4px 5px #0678b2;
    box-shadow: inset 4px 4px 5px #0678b2;

    background: #105070; /* Old browsers */
    background: -moz-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20ade4), color-stop(50%, #1392cb), color-stop(100%, #0678b2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* IE10+ */
    background: linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20ade4', endColorstr='#0678b2', GradientType=0); /* IE6-9 */

}

.button:active, button.active {
    -moz-box-shadow: inset 4px 4px 5px #0678b2;
    -webkit-box-shadow: inset 4px 4px 5px #0678b2;
    box-shadow: inset 4px 4px 5px #0678b2;

    background: #105070; /* Old browsers */
    background: -moz-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20ade4), color-stop(50%, #1392cb), color-stop(100%, #0678b2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* IE10+ */
    background: linear-gradient(top, #20ade4 0%, #1392cb 50%, #0678b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20ade4', endColorstr='#0678b2', GradientType=0); /* IE6-9 */

}

hr {
    border: none; /* Убираем границу */
    background-color: #9c9c9c; /* Цвет линии */
    color: #9c9c9c; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}

.Converter {
    text-align: center;
}