body {
    background: url("/images/backgroundImage.jpg") no-repeat fixed;
}

h2:nth-child(1) {
    color: greenyellow;
    text-align: center;
    font-family: Arial, serif;
    font-size: 50px;

}

form {
    text-align: center;
    color: darkcyan;
    font-family: Arial, serif;
    font-size: 50px;

}

.inputLocation {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 70px;
    color: #8ccae7;
    width: 100px;
    height: 60px;
    margin-top: 150px;
    font-size: 20px;
}

